.main{
    position: relative;
    .top{
        display: flex;
    }

    .cloud{
        position: absolute;
        right: 0;
        width: 613px;
        height: 623px;
    }
    .days{
        margin-top: 300px;
    }
}